<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credits</title>
</head>
<body>
    <div class="heading">Credits : </div>
    <div>In order to make our project, We would like to thank the following recources that we have taken help from :</div>
    <div>Background image : <a href="https://www.britannica.com/topic/newspaper">https://www.britannica.com/topic/newspaper</a></div>
    <div>Training data : <a href="https://www.kaggle.com/code/kammulakeerthi/fake-news-detection">https://www.kaggle.com/code/kammulakeerthi/fake-news-detection</a></div>
    <div>Inspiration and help : <a href="https://www.youtube.com/watch?v=xyq-zYr1cnI&t=3260s">https://www.youtube.com/watch?v=xyq-zYr1cnI&t=3260s</a></div>

    <style>
        body{
            font-family: sans-serif;
            padding: 10px;
            background-color: peachpuff;
        }
        .heading{
            font-size: 3em;
        }
        div{
            padding: 10px;
        }
    </style>
</body>
</html>